body {
    background-color: #202020;
    color: #f0f0f0;
    font-family: sans-serif;

}

.topnav {
    overflow: hidden;

    padding: 10px;
}

.topnav a {
    float: left;
    display: block;
    color: #f0f0f0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.5rem;
    text-transform: uppercase;
}

.topnav .search-container {
    float: right;
}

form {
    background-color: #404040;
    width: 300px;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

input {
    all: unset;
    font: 15px system-ui;
    color: #f0f0f0;
    height: 100%;
    width: 100%;
    padding: 5px 10px;
}

.thumbnail {
    height: 100px;
    width: 100px;
    border-radius: 10px;
}

.column {
    float: left;
    width: 20%;
    padding: 10px 10px;
}


.card {
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    background-color: #404040;
}

